.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/*.ts
**/*.map
.agents/**
.instructions/**
ovsx_publish_output.txt
ovsx_publish_utf8.txt
compile_error.txt
vsce_output.txt
.antigravity/**
*.vsix
Makefile
esbuild.config.mjs
.github/**
docs/**
tests/**
